* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:'Lora', serif;
  width: 100vw;
  overflow-x: hidden;
  background-color: #edf2fc;
 
}

/*logo*/

a .logo {
  display: inline-block;
  margin: 15px;
}
.logo img {
  width:250px;
  height:70px;
}

/*barre de navigation*/

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  font-size: 16px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li a:hover::after {
  width: 80%;
}
nav ul li a:hover {
  color: #ff0000;
}
/* style pour la navigation déroulante*/
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display:none; 
  position: absolute;
  background-color: #fff;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  margin: 25px 10px ;
  padding: 5px ; 
  font-size: 14px;
  text-decoration: none;
  display: block;

}
/* Style pour l'icône de la flèche vers le bas */
.dropbtn i {
  font-size: 14px;
  margin-left: 5px;
}
/* Style pour l'icône lorsqu'elle est survolée */
.dropbtn:hover i {
  transform: rotate(180deg);
}

/*button*/
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 18px;
  background: #ff0000;
  border-radius: 100px;
  padding: 12px 20px;
  margin: 5px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border:2px solid transparent;
  transition: all 0.4s ease;
}
.btn:hover {
  background: transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
}
.btn-login{
  font-size: 18px;
  background: transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
}
/*home section*/

.home_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height:100vh;
  margin-top: 50px;
}
.home_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin-right: 80px; 
}
.heading {
  font-size: 40px;
  font-weight: 15px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  text-align: center;
  color: #000;
}

.heading .textTyper {
  font-size: 40px;
  position: relative;
}
.textTyper {
  color: #ff0000;
}
.heading .textTyper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #ff0000;
  background: #edf2fc;
  border-left: 2px solid;
  animation: textTyper 5s steps(30) infinite;
}

@keyframes textTyper {
  0% {
    left: 0;
  }

  40%,
  60% {
    left: 102%;
  }

  100% {
    left: 0;
  }
}

.paragraph{
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.6px;
  color: #666;
  text-align:center;
    
  }

/*about*/

.about {
  padding: 50px 0;
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 100vh;
}
.d-block, h2{
  color: #ff0000;
  font-weight: 700;
  font-size: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;

}


.about-content {
  padding-top: 50px;
  padding-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
}

.about-text {
  flex-basis: 50%;
}

.about-video {
  flex-basis: 40%;
  padding-top: 40px;
}



/*formation*/
  .prg{
    background-color: #edf2fc;
    width: 100%;
    height: 70vh;
    position: 40px;
    padding-right: 40px;
  }
.prg h2{
  font-size: 40px;
  font-weight: 15px;
  text-align: left;

    color: #000;
    letter-spacing: 1px;
 
padding: 40px;
  }

  .active hr {
    width: 20%;
    height :1px;}
.for-container{
    width: 90%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    
   
  }
.tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
h3 {
    background-color: #fff;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #000;
  }
.tab-content  a {
    text-decoration: none;
    color: red; 
  }
.tab-content {
    background-color: #fff;
    padding: 50px 40px;
    border: none;
  }
.tab-content h4 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #000224;
    font-weight: 600;
  }
.tab-content p {
    text-align: justify;
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.4px;
    color: #202238;
  }
.tab-content div {
    display: none;
  }
.tab-content .active {
    display: block;
  }
.tabs .active {
    background-color: #ff0000;
    color: #fff;
  }
/*event section */



.event{
  width: 100%;
  height: 82vh;
  background: url('http://www.isi.rnu.tn/wp-content/uploads/2018/09/schedule.jpg');
  background-repeat: no-repeat;
    background-size: cover;
padding: 50px;
   
  }
.event h4{
  color: #ff0000;
  font-size: 20px;
  padding: 10px;
  

}
.event-container{
  
display: grid;

place-items: center;
text-align: center;

}

.event-slider{
max-width: 1100px;
display: flex;

}
.event-slider .item{
flex: 1;
margin: 0 10px;
background: #fff;
height: 320px;
border-radius: 20px;
}
.event-slider .item .img{
height: 200px;
width: 100%;

}
.event-slider .item .img img{
height: 90%;
width: 100%;
object-fit: cover;
border-radius: 20px;
}
.event-slider .item .content{
padding: 10px 10px;
}

.item .slider-content .sub-title{
font-size: 20px;
font-weight: 600;
color: #ff0000;
line-height: 20px;
}
.item .slider-content p{

margin: 10px 0;
}

/*galeries */

img {
  display: block;
 
}

.galeries {
  width: 100%;
  overflow: hidden;
}

.galeries-container{
  display: flex;
  width: 100%;
  animation: bannermove 10s linear infinite;
}

.galeries-content{
  width: 100%;
}

.galeries ul {
  display: flex;
 
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.galeries li {
  width: 100%;
 
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*contact section*/
.contact{
  width: 100%;
	height: 80vh;
	background-color: #282a30;
	color: white;
}
.contact-container{
	
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 8%;
}
.contact-container .row{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.row section.col{
	display: flex;
	flex-direction: column;
  
}
.row section.left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
  
}
.row section.right{
	flex-basis: 60%;
}
section.left .contactTitle h2{
	position: relative;
	font-size: 30px;
	color: #ddd;
	display: inline-block;
	margin-bottom: 25px;
}
section.left .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #282a30;
	top: 120%;
	left: 0;
}
section.left .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	background-color: #ff0000;
	top: calc(120% - 1px);
	left: 0;
}
section.left .contactTitle p{
	font-size: 17px;
	color: #ccc;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
section.left .contactInfo{
	margin-bottom: 12px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid #ff0000;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: #888;
	font-size: 18px;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #ccc;
}
section.left .socialMedia{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 22px 0px 20px;

}
.socialMedia a{
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	border-radius: 5px;
	background-color: #ff0000;
	transition: 0.4s;
}
.socialMedia a i{
	color: #ddd;
	font-size: 18px;
	line-height: 35px;
	border: 1px solid transparent;
	transition-delay: 0.4s;
}
.socialMedia a:hover{
	transform: translateY(-5px);
	background-color: #282a30;
	color: #ff0000;
	border: 1px solid #ff0000;
}
.socialMedia a:hover i{
	color: #ff0000;
}

/* Code for the right section (column) */

.row section.right .messageForm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 50px;
}
.row section.right .inputGroup{
	margin: 26px 0px;
	position: relative;
}
.messageForm .halfWidth{
	flex-basis: 48%;
}
.messageForm .fullWidth{
	flex-basis: 100%;
}
.messageForm input, .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	background-color: #282a30;
	color: #ddd;
	border: none;
	border-bottom: 2px solid #666;
	outline: none;
}
.messageForm textarea{
	resize: none;
	height: 110px;
	display: block;
}
textarea::-webkit-scrollbar{
	width: 5px;
}
textarea::-webkit-scrollbar-track{
	background-color: #1e1e1e;
	border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb{
	background-color: #ff0000;
	border-radius: 15px;
}
.inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #888;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}
.inputGroup:nth-child(4) label{
	top: 2px;
}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
}
.inputGroup button{
	padding: 8px 16px;
	font-size: 18px;
	background-color:#ff0000;
	color: #ddd;
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}
.inputGroup button:hover{
	background-color: #282a30;
	color: #ff0000;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid #ff0000;
}


/*footer*/

.footer-container{
  max-width: 1170px;
  margin:auto;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #282a30;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col li {
  color: #bbbbbb;
} 
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #ff0000;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




/*page acctualité*/

/*image*/
.header {
  position: relative;
  height: 50px;
  padding: 180px;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;

  width: 100%;
}

.header-text h1 {
  font-size: 40px;
  margin-bottom: 0;

}

/*news*/



a {
  color: inherit;
  text-decoration: none;
  
}


.section-title {
  font-weight: bold;
  font-size: 25px;
  color: #ff0000;
  margin-bottom: 10px;
}

.card {
  background: white;

}

.card-padded {
  padding: 20px;
}


/* Sections */



  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#edf2fc;
    margin: 0;
   
  
  }
  


.main-inner {
  display: flex;
}

.mainbar {
  width: 66%;
  padding-right: 20px;
}

.sidebar {
  width: 33%;
}
.news-list .news-card:not(:last-child) {
  margin-bottom: 20px;
}



.news-card {
  display: flex;
  transition: all 200ms ease;
}
.news-card:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.news-card:active {
  box-shadow: 0px 1px 1px #d00c0c1a;
  transform: translateY(-1px);
}


.news-card img {
  width: 300px;
  height: 200px;
  vertical-align: middle;
}

.news-card .news-left {
  margin-right: 10px;
  font-size: 0;
}

.news-card .news-right {
  display: flex;
  flex-direction: column;
  
}

.news-card .news-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #1C3D6D;
  border: none;

  
}

.news-card .news-body {
  font-size: 14px;
  color: #6E798B;
}

.news-card .news-footer {
  margin-top: auto;
  font-size: 12px;
  color: #ff0000;
}

.popular-today {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.popular-today .item {
  display: flex;
  align-items: center;
  padding: 15px;
}

.popular-today * {
  transition: all 200ms ease;
}

.popular-today .item .number {
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #B1B8C4;
}

.popular-today .item .title {
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #1C3D6D;
}

.news h5{
  padding: 80px;
  text-align: center;
}

/*biliotheque*/
.biblio{
  padding-right: 12%;
  padding-left: 12%;
  font-size: 22px;
  width: 100%;
  height: 220vh;
}

.biblio-title{
  padding: 20px;
  color: #ff0000

}
.biblio p{
  font-size: 20px;
  padding: 20px;
}
.biblio span{
  padding-top:20px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: bold;

}

/*activité culturelle*/
.title{
  font-size:25px;
  color:#ff0000;
  display:block;
  }
  
.title1 p{
  padding-right: 60px;
  padding-left: 60px;
  font-size: 22px;
}
  
  .section2,.section3{
  width:90%;
  margin:5% 0%;
  margin-left:auto;
  margin-right:auto;

  }
  
  .section2 table,.section3 table{
  width:100%;
  }
  
  .section2 table td,.section3 table td{
  width:50%;
  }
  
  .section2 table td img,.section3 table td img{
  width:480px;
  height: 300px;

  margin-left:auto;
  margin-right:auto;
  box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
  }
  
  .section3 table td img{
  float:right;

  }

.section2 h5{
  padding-top: 60px;
  text-align: center;
}

.gallery{
  padding-bottom: 600px;
  padding-left:100px;

}
  .holder {
    width: 200px;
    height: 150px;
    margin: 15px;
    float: left;

  }
  
  .holder img {
    width:100%;
    height: 100%;
    opacity: 0.8;
    transition: opacity 1s, transform 0.7s  ease-in;
  }
  
 .holder img:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 1px 3px 8px 4px rgb(195, 195, 195);
  }
  



/*authentification et inscrption*/


.connecter{
  font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.connecter p{
  display: block;
	text-align: center;
	text-decoration: none;
	color: #999;
	font-size: 1.2rem;
	transition: .3s;
  padding-bottom: 5px;
}
.connecter .title{
  padding-bottom:16px ;
}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
  width: 100%;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.bg-img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.bg-img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #ff0000;
	display: flex;
	justify-content: center;
	align-items: center;
}



.input-div > .div-content{
    position: relative;
	height: 45px;
}

.input-div > .div-content > {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
  
}




 .input-div > .div-content >input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 0.8rem;
	color: #555;
	font-family: 'poppins', sans-serif;

}

.input-div.pass{
	margin-bottom: 4px;
  
}

.login-content a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #999;
	font-size: 1.2rem;
	transition: .3s;
  
}

.login-content a:hover{
	color: #ff0000;
}

.bt{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #f32d2d, #d33838, #ff0000);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
 
  
}
.bt:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.bg-img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.bg-img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}


   